# Copia este archivo como .env en la raíz del proyecto
# y pega la URL que te da Apps Script al publicar

REACT_APP_SCRIPT_URL=https://script.google.com/macros/s/AKfycbwzNsZgTFHBdpyZgSb_mp0RjUXUYz94l4x8O_HIU0_1ZpzBB5wWEiPcesK7BkQ0UlNO/exec
